swagger: "2.0"
info:
  description: "This server hosts web API's for solving the [cryptopals crypto challenges](https://cryptopals.com/). Feel free to use these API's to your hearts content, although I recommend trying the problems for yourselves and only using this tool to check your answers. If you find an issue with the API's, or a substantially better way to solve a problem, don't hesitate to reach out."
  version: "1.0.0"
  title: "Wolfe's Crypto Pals"
  contact:
    email: "max@securitywolfe.com"
  license:
    name: "MIT License"
    url: "https://raw.githubusercontent.com/maxwolfe/cryptopals/master/LICENSE"
host: "cryptopals.securitywolfe.com"
basePath: "/v2"
tags:
- name: "Set 1"
  description: "Basics"
schemes:
- "https"
- "http"
paths:
  /convert/hex2b64/{hex_str}:
    get:
      tags:
      - "Set 1"
      summary: "Convert a hexadecimal string to a Base64 string"
      description: "Base 16 to Base 64 conversion"
      operationId: "controller.hex_to_base64"
      produces:
      - "application/json"
      parameters:
      - in: "path"
        name: "hex_str"
        description: "A hex string"
        required: true
        type: "string"
      responses:
        "200":
          description: "Successfully converted to Base 64 string"
          schema:
            type: "string"
        "400":
          description: "Invalid hex string input"
  /operate/xor/{first_hex}/{second_hex}:
    get:
      tags:
        - "Set 1"
      summary: "Return the XOR of two hex strings"
      description: "Fixed XOR"
      operationId: "controller.fixed_xor"
      produces:
      - "application/json"
      parameters:
        - in: "path"
          name: "first_hex"
          description: "The first hex string to XOR"
          required: true
          type: "string"
        - in: "path"
          name: "second_hex"
          description: "The second hex string to XOR"
          required: true
          type: "string"
      responses:
        "200":
          description: "Successfully computed XOR of both strings"
          schema:
            type: "string"
        "400":
          description: "First hex string is Invalid"
        "401":
          description: "Second hex string is Invalid"
  /solve/single_byte_xor/{hex_ciphertext}:
    get:
      tags:
        - "Set 1"
      summary: "Solve a single-byte XOR cipher"
      description: "Single-byte XOR"
      operationId: "controller.single_byte_xor"
      produces:
      - "application/json"
      parameters:
        - in: "path"
          name: "hex_ciphertext"
          description: "The hex ciphertext to decrypt"
          required: true
          type: "string"
      responses:
        "200":
          description: "Found a solution"
          schema:
            type: "string"
        "400":
          description: "The hex string is Invalid"
  /solve/detect_single_byte_xor:
    post:
      tags:
        - "Set 1"
      summary: "Solve a single-byte XOR cipher for many ciphertexts"
      description: "Detect Single-byte XOR in many ciphertexts"
      operationId: "controller.detect_single_byte_xor"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
        - in: "formData"
          name: "ciphertext_file"
          description: "A file including ciphertexts to decrypt"
          required: true
          type: "file"
      responses:
        "200":
          description: "Found a solution"
          schema:
            type: "string"
        "400":
          description: "A hex string is Invalid"
  /encrypt/repeated_key_xor:
    post:
      tags:
        - "Set 1"
      summary: "Encrypt a given plaintext with repeated key XOR"
      description: "Repeating-key XOR"
      operationId: "controller.repeated_key_xor"
      consumes:
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      parameters:
        - in: "formData"
          name: "plaintext"
          description: "The ascii plaintext to encrypt"
          type: "string"
        - in: "formData"
          name: "key"
          description: "The ascii key to use for encryption"
          type: "string"
      responses:
        "200":
          description: "Generated ciphertext"
          schema:
            type: "string"
        "400":
          description: "The chosen key is invalid"
  /solve/repeated_key_xor:
    post:
      tags:
        - "Set 1"
      summary: "Solve a repeated-key XOR cipher for large ciphertexts"
      description: "Solve repeated-key XOR"
      operationId: "controller.solve_repeated_key_xor"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
        - in: "formData"
          name: "ciphertext_file"
          description: "A file including the base64 encoded ciphertext to decrypt"
          required: true
          type: "file"
      responses:
        "200":
          description: "Found a solution"
          schema:
            type: "string"
        "400":
          description: "A base64 string is Invalid"
  /decrypt/aes_ecb:
    post:
      tags:
        - "Set 1"
      summary: "Decrypt an AES-ECB encrypted ciphertext with a known key"
      description: "Decrypt AES-ECB"
      operationId: "controller.decrypt_aes_ecb"
      consumes:
      - "application/x-www-form-urlencoded"
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
        - in: "formData"
          name: "ciphertext_file"
          description: "A file including the base64 encoded ciphertext to decrypt"
          required: true
          type: "file"
        - in: "formData"
          name: "ascii_key"
          description: "the ascii key to use for decryption"
          type: "string"
      responses:
        "200":
          description: "Found a solution"
          schema:
            type: "string"
        "400":
          description: "A base64 string is Invalid"
  /detect/aes_ecb:
    post:
      tags:
        - "Set 1"
      summary: "Detect which ciphertext has been encrypted with AES-ECB"
      description: "Detect AES-ECB"
      operationId: "controller.detect_aes_ecb"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
        - in: "formData"
          name: "ciphertext_file"
          description: "A file including the base64 encoded ciphertext to decrypt"
          required: true
          type: "file"
      responses:
        "200":
          description: "Found a solution"
          schema:
            type: "string"
